
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
  }

.switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
    position: absolute;
}

.switch .slider {
	cursor: pointer;
	text-indent: -9999px;
	width: 63px;
	height: 33px;
	background: #F6F6F2;
	display: block;
	border-radius: 100px;
	position: relative;
    border: 1px solid #403266;
}

.switch .slider:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	top: 3px;
    width: 25px;
    height: 25px;
	background: #fff;
	border-radius: 90px;
    border: 1px solid #403266;
	transition: 0.3s;
}

.switch input:checked + .slider {
	background: #A4DDED;
}

.switch input:checked + .slider:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switch:active .slider:after {
	width: 43px;
}

.pricing-time {
    display: flex;
	justify-content: center;
	align-items: center;
    gap: 16px;
}

/*Input Range */

.slider-range {
    margin: 40px 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - 100px);
    height: 16px;
    background: #f2f2f2;
    border-radius: 0;
    background-image: linear-gradient(#A4DDED, #A4DDED);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    margin: 0 50px;
    position: relative;
    border: 1px solid #403266;
}

input[type="range"]::after {
    content: "";
    width: 50px;
    height: 16px;
    border-radius: 8px 0 0 8px;
    position: absolute;
    left: -50px;
    top: -1px;
    border: 1px solid #403266;
    border-right: 0;
    background-image: linear-gradient(#A4DDED, #A4DDED);
  }

  input[type="range"]::before {
    content: "";
    width: 50px;
    height: 16px;
    border-radius: 0 8px 8px 0;
    position: absolute;
    right: -50px;
    top: -1px;
    border: 1px solid #403266;
    border-left: 0;
    background: #f2f2f2;
  }
  
  input[type="range"]::-webkit-slider-thumb  {
    -webkit-appearance: none;
    appearance: none;
    height: 27px;
    width: 27px;    
    background-repeat: no-repeat;
    border-radius: 50%;
    background-image: url(thumb-2.png);
    background-color: transparent;
    background-position: center;
    background-size: 100%;
    cursor: ew-resize;
    transition: all .3s ease-in-out;
    display: block;
    position: relative;
    z-index: 1;
  }
  input[type="range"]::-moz-range-thumb {
    appearance: none;
    height: 27px;
    width: 27px;
    border: none; 
    background-repeat: no-repeat;
    border-radius: 16px;
    background-image: url(thumb.png);
    background-color: transparent;
    background-position: center;
    background-size: 100%;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
    display: block;
  }
  
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.markers {
    display: flex;
    margin: 16px 0;
    justify-content: space-between;
}

.markers .marker {
    color: #403266;
    font-size: 20px;
    opacity: 0.3;
    flex: 1;
    text-align: center;
}

.markers .marker.active {
    opacity: 1;
}

.starter-col.inactive {
    opacity: 0.3;
}
.starter-col.active {
    opacity: 1;
}

